<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iftek.edoctor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationDoctor" />
        <activity android:name=".LogInDoctor" />
        <activity android:name=".LoginPatient" />
        <activity android:name=".RegistrationPatient" />
        <activity
            android:name=".HomePage4Doctor"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SetAppointment1" />
        <activity android:name=".TimeSlot" />
        <activity android:name=".InterestedPatDoc" />
        <activity android:name=".AccountDoc" />
        <activity
            android:name=".HomePage4Patient"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SearchDoctor" />
        <activity android:name=".DoctorList" />
        <activity android:name=".Doctor1" />
        <activity android:name=".Doctor2" />
        <activity android:name=".Doctor3" />
        <activity android:name=".Doc1Book" />
        <activity android:name=".ConfirmNumber" />
        <activity android:name=".Confirm" />
        <activity android:name=".AboutApp"></activity>
    </application>

</manifest>